Repository hmcts/wa-task-configuration-api, pull requests merged in 2020-09, with the labels that each got.

#3 RWA-95: Setup mutation Tests
  Jenkinsfile_nightly
  build.gradle
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/TestType.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/RootControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/entities/TestTypeTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-3

#8 Pmd: Cleanup and Re-enable
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/WelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/SwaggerPublisherTest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/RootController.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/RootControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-8

#14 Setup swagger-ui page and set api to use snake case
  build.gradle
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/SwaggerConfiguration.java
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-14

#7 RWA-117: Added controller advice for exceptions.
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/GetWelcomeTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/advice/CallbackControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/advice/ErrorLogger.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/advice/CallbackControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/advice/ErrorLoggerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-7

#19 Adding initial sequence diagram
  README.md
  task-configuration.png
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-19
