Repository hmcts/wa-task-configuration-api, pull requests merged in 2020-11, with the labels that each got.

#46 Return 500 error for generic exceptions
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/GetRootTest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/advice/CallbackControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/advice/ErrorLogger.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/advice/ErrorMessage.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/advice/CallbackControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/advice/ErrorLoggerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/advice/ErrorMessageTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-46

#56 add chart, jenkins and application config
  Jenkinsfile_CNP
  charts/wa-task-configuration-api/Chart.yaml
  charts/wa-task-configuration-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/ConfigureTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/ConfigurationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/ConfigureTaskService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/MapCaseDetailsService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/PermissionsService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/camunda/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/ccd/CcdDataService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/ConfigureTaskServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/MapCaseDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/PermissionsServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-56

#59 update env var to point to camunda in minikube env
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  charts/wa-task-configuration-api/Chart.yaml
  charts/wa-task-configuration-api/values.aat.template.yaml
  charts/wa-task-configuration-api/values.preview.template.yaml
  charts/wa-task-configuration-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/ConfigureTaskTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/RoleAssignmentHelper.java
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/assignment-request.json
  src/functionalTest/resources/set-rules-assignment-request.json
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/RoleAssignmentClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/ConfigurationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/camunda/AssigneeRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/QueryRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/RoleAssignmentTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/roleAssignmentsResponse.json
  src/integrationTest/resources/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/queryRequest.json
  src/integrationTest/resources/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/roleAssignment.json
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/Application.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/AutoAssignTaskToCaseworker.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/CamundaProcessVariableExtractor.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/ConstantVariableExtractor.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/SystemConfiguredVariableExtractor.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/TaskVariableExtractorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/camunda/AssigneeRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/camunda/TaskState.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/ActorIdType.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/Assignment.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/Attributes.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/Classification.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/GrantType.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/QueryRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/RoleCategory.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/RoleName.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/RoleType.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/camunda/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/ccd/CcdDataService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/idam/IdamSystemTokenGenerator.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/roleassignment/RoleAssignmentClient.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/main/resources/case_data.json
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/ccd/CcdDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/idam/IdamSystemTokenGeneratorTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-59

#69 Updating sequence
  README.md
  task-configuration.png
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-69

#70 add pitest coverage
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/QueryRequest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/ActorIdTypeTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/AssignmentTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/AttributesTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/ClassificationTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/GrantTypeTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/QueryRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/RoleAssignmentTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/RoleCategoryTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/RoleNameTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/RoleTypeTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-70

#71 RWA-197: Upgrade azurerm version to v2
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-71

#72 RWA-233: Fix terraform to pull s2s secret from s2s vault and copy into wa-vault
  infrastructure/main.tf
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-72

#73 bump terraform version and add required provider to state
  infrastructure/.terraform-version
  infrastructure/state.tf
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-73

#68 Rename taks variable ccdId to caseId
  README.md
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/ConfigureTaskTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/CreateTaskMessage.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/CreateTaskMessageBuilder.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/ConfigurationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/ConfigureTaskService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/AutoAssignTaskToCaseworker.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/CamundaProcessVariableExtractor.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/MapCaseDetailsService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/SystemConfiguredVariableExtractor.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/ccd/CcdDataService.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/ConfigureTaskServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/CamundaProcessVariableExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/ConstantVariableExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/MapCaseDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/SystemConfiguredVariableExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/ccd/CcdDataServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-68
