Repository hmcts/wa-task-configuration-api, pull requests merged in 2020-10, with the labels that each got.

#27 Bump spring boot version
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-27

#21 Rwa 80 add standard attributes
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/wa-task-configuration-api/Chart.yaml
  charts/wa-task-configuration-api/values.preview.template.yaml
  charts/wa-task-configuration-api/values.yaml
  infrastructure/main.tf
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/ConfigureTaskTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/CreateTaskMessage.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/CreateTaskMessageBuilder.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/CreatorObjectMapper.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/WelcomeTest.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/ConfigurationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/GetRootTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/util/ConfigureTaskRequestCreator.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/util/CreatorObjectMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/Application.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccd/CcdClient.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccd/CcdDataService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/AddLocalVariableRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/CamundaValue.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/ConfigureTaskException.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/ConfigureTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/ConfigureTaskService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/DmnRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/MapCaseDataDmnRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/MapCaseDataDmnResult.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/MapCaseDetailsService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/TaskResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/ConfigurationController.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/idam/IdamApi.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/idam/IdamSystemTokenGenerator.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/idam/Token.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/idam/UserInfo.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/main/resources/case_data.json
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/PojoTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/ConfigureTaskServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/MapCaseDetailsServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-21

#29 Rwa 140 Extra config on a task
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/ConfigureTaskTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/CreateTaskMessage.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/CreateTaskMessageBuilder.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/ConfigurationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/util/ConfigureTaskRequestCreator.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/Application.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/ConfigureTaskService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/MapCaseDetailsService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/CamundaProcessVariableExtractor.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/ConstantVariableExtractor.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/MapCaseDetailsService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/SystemConfiguredVariableExtractor.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/TaskVariableExtractor.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/TaskVariableExtractorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/ConfigurationController.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/ConfigureTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/camunda/AddLocalVariableRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/camunda/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/camunda/CamundaValue.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/camunda/DmnRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/camunda/MapCaseDataDmnRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/camunda/MapCaseDataDmnResult.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/camunda/TaskResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/ccd/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/ccd/CcdClient.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/ccd/CcdDataService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/idam/IdamApi.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/idam/IdamSystemTokenGenerator.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/idam/Token.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/idam/UserInfo.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/PojoTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/ConfigureTaskServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/MapCaseDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractor/CamundaProcessVariableExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractor/ConstantVariableExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractor/MapCaseDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractor/SystemConfiguredVariableExtractorTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-29

#34 Removing test secret
  charts/wa-task-configuration-api/Chart.yaml
  charts/wa-task-configuration-api/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-34

#38 RWA-156: Smoke Test
  src/smokeTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/DemoSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/SmokeTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-38

#30 Enables stacktrace by default in aat
  charts/wa-task-configuration-api/values.aat.template.yaml
  charts/wa-task-configuration-api/values.preview.template.yaml
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-30

#44 RWA-154: Add permissions for each role to all tasks as configuration
  .travis.yml
  Dockerfile
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/ConfigureTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/ConfigurationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/MapCaseDetailsService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/PermissionsService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/camunda/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/camunda/DecisionTableRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/camunda/DecisionTableResult.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/PojoTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/CamundaProcessVariableExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/ConstantVariableExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/MapCaseDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/PermissionsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/SystemConfiguredVariableExtractorTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-44

#43 update functional test
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/ConfigureTaskTest.java
  src/main/resources/case_data.json
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-43

#49 Nightly dev
  Jenkinsfile_nightly
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-49

#50 Correcting roles naming convention.
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/ConfigureTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-50

#52 Suppress CVE-2020-13943
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-52

#51 Increase test coverage for thirdparty package
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/ccd/CcdDataServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-51

#53 Add IdamSystemTokenGenerator Test
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/ccd/CcdDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/idam/IdamSystemTokenGeneratorTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-53
