Repository hmcts/wa-task-configuration-api, pull requests merged in 2020-12, with the labels that each got.

#74 Update port and Fix smoke test and role-assignment response
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/RoleAssignmentClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/ConfigurationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/RoleAssignmentTest.java
  src/integrationTest/resources/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/roleAssignmentsResponse.json
  src/integrationTest/resources/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/roleAssignment.json
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/AutoAssignTaskToCaseworker.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/roleassignment/RoleAssignmentResource.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/roleassignment/RoleAssignmentClient.java
  src/smokeTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/SmokeTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-74

#79 CVE-2020-13956
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-79

#76 RWA-221: Renaming camunda artefacts to match LLD
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/ConfigurationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/MapCaseDetailsService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/PermissionsService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/camunda/CamundaClient.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/MapCaseDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/PermissionsServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-76

#80 Fix CVE
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-80

#75 RWA-206: Clean up s2s configuration
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/ConfigureTaskTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/RoleAssignmentHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/ConfigurationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/ConfigureTaskService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/AutoAssignTaskToCaseworker.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/MapCaseDetailsService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/ccdmapping/variableextractors/PermissionsService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/thirdparty/ccd/CcdDataService.java
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-75

#78 Added task cleanup. Updated README
  README.md
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/ConfigureTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-78

#81 RWA-253: Fix index.hmtl not being generated on functional test reports
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-81

#86 Fix CVE-2020-8908: Update google guava to v30.1
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-86

#89 RWA-292 add junit test for the CamundaTime
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/camunda/CamundaTimeTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/configurators/AutoAssignTaskToCaseworkerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-89

#90 RWA-292 Task/fix sonar quality gate
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/camunda/CamundaTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/ccd/CaseDetailsTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-90
