Repository hmcts/wa-task-configuration-api, pull requests merged in 2021-05, with the labels that each got.

#182 format and reuse code
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/TaskConfigurationController.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-182

#180 Rwa 483
  build.gradle
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/auth/role/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/CustomLogBookConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/LogBookPayloadStrategy.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/TaskConfigurationController.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/CamundaService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/CaseConfigurationProviderService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/ConfigureTaskService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/DmnEvaluationService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/TaskAutoAssignmentService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/auth/role/entities/AssignmentTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/auth/role/entities/RoleAssignmentTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/auth/role/entities/request/QueryRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/CamundaServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-180

#183 apply fix for the for document store
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/case_data.json
  src/testUtils/java/uk/gov/hmcts/reform/wataskconfigurationapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-183

#184 RWA-513 adjust FTs
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/PostConfigureTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-184

#185 ignoring cross scripting endpoints
  audit.json
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-185
