Repository hmcts/wa-task-configuration-api, pull requests merged in 2021-01, with the labels that each got.

#95 RWA-292 fix CVE-2020-28052
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-95

#102 added pojo tests for models
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/camunda/AssigneeRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/camunda/DecisionTableRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/configuration/AutoAssignmentResult.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/auth/role/entities/roleassignment/RoleAssignmentResourceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/camunda/AssigneeRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/camunda/DecisionTableRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/configuration/AutoAssignmentResultTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/configuration/TaskToConfigureTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-102

#99 Rwa 246
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/utils/CreateTaskMessageBuilder.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-99

#105 Sidam-simulator update
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/PostConfigureTaskTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/PostTaskConfigurationTest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/auth/idam/entities/UserInfo.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-105

#107 Increase test coverage for task-configuration-api
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/auth/idam/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/auth/role/RoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/TaskConfigurationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/CamundaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/ConfigureTaskServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/DmnEvaluationServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-107
