Repository hmcts/wa-task-configuration-api, pull requests merged in 2021-04, with the labels that each got.

#161 Idam pact tests fix
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/SpringBootContractBaseTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/consumer/idam/IdamConsumerTestForPostToken.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/clients/IdamServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/FeignConfiguration.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-161

#162 RWA-463: Performance Improvement: Make idam use the api url directly
  Jenkinsfile_CNP
  charts/wa-task-configuration-api/Chart.yaml
  charts/wa-task-configuration-api/values.yaml
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/clients/IdamServiceApi.java
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-162

#163 RWA-475: Add launch darkly sdk key from vault
  src/main/resources/bootstrap.yaml
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-163

#157 ccd-case-pact-test
  src/contractTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/SpringBootContractBaseTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/consumer/ccd/CcdConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/consumer/ccd/CcdGetCasesByCaseIdPactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/consumer/ccd/CcdStartEventForCaseworkerPactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/consumer/ccd/CcdSubmitEventForCaseworkerPactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/consumer/idam/IdamConsumerTestForPostToken.java
  src/contractTest/resources/application.properties
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-157

#164 RWA-475: add secret to values.yaml
  charts/wa-task-configuration-api/Chart.yaml
  charts/wa-task-configuration-api/values.yaml
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-164

#166 RWA-486: Update Swagger
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/LaunchDarklyFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/SwaggerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/PostConfigureTaskTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/PostTaskConfigurationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/utils/CreateTaskMessageBuilder.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/TaskConfigurationController.java
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-166

#167 RWA-491: S2S Authentication
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/SwaggerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/auth/role/entities/roleassignment/RoleAssignmentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/GetRootTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/TaskConfigurationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/RoleAssignmentServiceApiTest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/Application.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/SecurityConfiguration.java
  src/main/resources/application.yaml
  src/testUtils/java/uk/gov/hmcts/reform/wataskconfigurationapi/SpringBootIntegrationBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-167

#159 RW-440: Added role-assignment query contract
  src/contractTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/consumer/roleassignment/RoleAssignmentConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/consumer/roleassignment/RoleAssignmentQueryConsumerTest.java
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/auth/role/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/clients/RoleAssignmentServiceApi.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-159

#168 Fix security test false positive
  audit.json
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-168

#169 Bump hmctspublic java chart version
  charts/wa-task-configuration-api/Chart.yaml
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-169

#171 fix variables being updated with incorrect scope
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/clients/CamundaServiceApi.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-171

#172 Sequence diagram update
  README.md
  task-configuration.png
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-172

#173 Fix CVE-2021-29425
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-173

#176 Fix CVE-2021-22112
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-176

#177 Added mandatory noc property to case data
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/case_data.json
  src/testUtils/java/uk/gov/hmcts/reform/wataskconfigurationapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-177

#174 Rwa 498
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/utils/CreateTaskMessageBuilder.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-174

#181 Bugfix/rwa 524 has warnings
  README.md
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/PostConfigureTaskTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/utils/CreateTaskMessageBuilder.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/TaskConfigurationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/configurators/ConstantVariablesConfigurator.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/configurators/ConstantVariablesConfiguratorTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-181
