Repository hmcts/wa-task-configuration-api, pull requests merged in 2021-02, with the labels that each got.

#114 Rwa 280 changes
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/clients/CamundaServiceApi.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-114

#108 RWA-240. add hasWarnings to Task
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/PostConfigureTaskTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/PostTaskConfigurationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/TaskConfigurationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/camunda/enums/CamundaVariableDefinition.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/configurators/ConstantVariablesConfigurator.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/configurators/ConstantVariablesConfiguratorTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-108

#106 RWA-113: Add listener to Camunda to call task configuration service
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/PostTaskConfigurationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/utils/RoleAssignmentHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/TaskConfigurationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/util/ConfigureTaskRequestCreator.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/TaskConfigurationController.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/request/ConfigureTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/camunda/enums/CamundaVariableDefinition.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/TaskConfigurationControllerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/RestApiActions.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-106

#122 Added debug logs and waits
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/PostConfigureTaskTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/PostTaskConfigurationTest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/TaskConfigurationController.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-122

#124 Change user
  Jenkinsfile_CNP
  README.md
  charts/wa-task-configuration-api/Chart.yaml
  charts/wa-task-configuration-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/PostConfigureTaskTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/PostTaskConfigurationTest.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-124

#127 bumping java chart version
  charts/wa-task-configuration-api/Chart.yaml
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-127

#139 added polling for task retrieval
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/PostConfigureTaskTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/PostTaskConfigurationTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskconfigurationapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-139

#142 Nightly dev
  Jenkinsfile_nightly
  audit.json
  security.sh
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/PostConfigureTaskTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/PostTaskConfigurationTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-142
