Repository hmcts/wa-task-configuration-api, pull requests merged in 2021-03, with the labels that each got.

#147 ignore Ft failures until the proper fix is released
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/PostConfigureTaskTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/PostTaskConfigurationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/utils/RoleAssignmentHelper.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskconfigurationapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-147

#118 RWA-275 wa system user
  Jenkinsfile_CNP
  README.md
  charts/wa-task-configuration-api/Chart.yaml
  charts/wa-task-configuration-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/PostConfigureTaskTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/PostTaskConfigurationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/utils/CreateTaskMessageBuilder.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/TaskConfigurationControllerTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/auth/idam/IdamService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/auth/idam/IdamSystemTokenGenerator.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/auth/idam/IdamTokenGenerator.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/auth/idam/entities/UserIdamTokenGeneratorInfo.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/auth/role/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/IdamTokenGeneratorConfig.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/CcdDataService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/auth/idam/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/auth/idam/IdamTokenGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/auth/role/RoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/CcdDataServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskconfigurationapi/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/WaLawUserIdamTokenGeneratorConfig.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/CreateTaskMessage.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/RoleAssignmentHelper.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-118

#148 Fix tomcat cve
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-148

#134 CVE Fixes: CVE-2020-13943
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-134

#154 Add jurisdiction from case data
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/PostConfigureTaskTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/PostTaskConfigurationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/TaskConfigurationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/CaseConfigurationProviderService.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/CaseConfigurationProviderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/configurators/CaseRelatedVariablesConfiguratorTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-154

#145 Rwa 231
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/wa-task-configuration-api/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/LaunchDarklyFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/utils/LaunchDarklyClient.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/FeatureToggleConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/service/FeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/infrastructure/clients/LaunchDarklyFeatureToggler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/LaunchDarklyFeatureTogglerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-145
