Repository hmcts/wa-task-configuration-api, pull requests merged in 2021-08, with the labels that each got.

#205 Added FT to nightly build pipeline
  Jenkinsfile_nightly
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-205

#206 Upgraded Helm release version
  charts/wa-task-configuration-api/Chart.yaml
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-206

#207 RWA-694: Add CCD Case document service
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  src/contractTest/resources/application.properties
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/documents/notice_of_appeal.pdf
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/JacksonConfiguration.java
  src/main/resources/case_data.json
  src/main/resources/case_data_with_case_management_category.json
  src/testUtils/java/uk/gov/hmcts/reform/wataskconfigurationapi/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskconfigurationapi/config/RestTemplateConfiguration.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/documents/Document.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskconfigurationapi/domain/entities/documents/DocumentNames.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/DocumentManagementFiles.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/DocumentManagementUploader.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskconfigurationapi/utils/BinaryResourceLoader.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-207

#204 Techdebt/rwa 433
  build.gradle
  charts/wa-task-configuration-api/Chart.yaml
  charts/wa-task-configuration-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/Application.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/testUtils/java/uk/gov/hmcts/reform/wataskconfigurationapi/SpringBootIntegrationBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-204

#209 CVE-2021-28170
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-209

#210 Feature/rwa 654 caching
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/auth/IdamTokenGeneratorTest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/Application.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/auth/idam/IdamTokenGenerator.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-210

#208 extend endpoint to cope with both wa and ia jurisdictions
  src/integrationTest/java/uk/gov/hmcts/reform/wataskconfigurationapi/controllers/TaskConfigurationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/clients/CamundaServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/DmnEvaluationService.java
  src/test/java/uk/gov/hmcts/reform/wataskconfigurationapi/services/DmnEvaluationServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-configuration-api-pr-208
